@import "tailwindcss";

:root {
  --background: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: "Poppins", Helvetica, sans-serif;
  background: linear-gradient(90deg, #2f8971 0%, #5ba23c 50%, #9fbe22 100%);
  min-height: 100vh;
  transform: scale(1);
  transform-origin: top center;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1920px;
  padding: 60px 150px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .container {
    padding: 60px 50px;
    margin: 0 auto;
  }
}

@media (max-width: 560px) {
  .container {
    padding: 60px 10px;
    margin: 0 auto;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 25s linear infinite;
}

.shadow-custom {
  box-shadow: 20px 20px 0px -1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 20px 20px 0px -1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 20px 20px 0px -1px rgba(0, 0, 0, 0.1);
}

@theme {
  --breakpoint-xs: 30rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;
}
