@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: "Poppins", Helvetica, sans-serif;
  background: linear-gradient(90deg, #2f8971 0%, #5ba23c 50%, #9fbe22 100%);
  min-height: 100vh;
  transform: scale(1);
  transform-origin: top center;
}

button {
  cursor: pointer;
}
.container {
  max-width: 1920px;
  padding: 60px 150px;
  margin: 0 auto;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 25s linear infinite;
}
